---
title:      "Attaching Labels to Nodes"
created_at: 2011-09-18 21:28:07.795710 -07:00
layout:     section
---

<p>While mathematicians may be perfectly content to consider graphs only according to their shapes, most programmers and computer scientists tend to use them to compute some kind of meaningful results.</p>

<p>As such, it's often useful to label the nodes in a graph in some way.  For example, here in lovely Portland, Oregon, <strong>we love us some <a href="http://trimet.org/">public transit</a>.</strong>  We've got <a href="http://trimet.org/bus/index.htm">buses</a>, <a href="http://trimet.org/max/index.htm">light rail</a>, <a href="http://trimet.org/wes/index.htm">commuter rail</a>, <a href="http://trimet.org/streetcar/index.htm">streetcars</a>, and even an <a href="http://www.gobytram.org">aerial tram</a>.</p>

<p>Here's a quick overview of just our light rail system.  This doesn't show all the stops&mdash;pardon me, <em>nodes</em>&mdash;it's just the transfer points and end stations for each line.  The nodes have labels that make them mean something to humans, but as far as a computer is concerned, they could just be called "01100010".</p>

<div class="wp-caption">
  <img src="/assets/images2/max-system-map.gif" class="no-shadow" />
  <br /><strong>Portland's light rail: the 10,000-foot view</strong>
</div>

<p>...and if, right about now, you're starting to open your mouth and say, "hey, why are those lines different colors?"  Then you, my friend, are on the right track.  (No pun intended.)</p>
