---
title: "Attaching Labels to Edges"
---

<p>Just as we can label the nodes in a graph, we can also attach information to the edges.  This might include:</p>

<ul class="full-size">
  <li><strong>Names</strong>&mdash;for example, "12th Avenue".</li>
  <li><strong>Numbers (also called "weights")</strong>&mdash;like distances or speeds.</li>
  <li><strong>Types</strong>&mdash;to denote relationships, like "friend" or "coworker" or "parent of".</li>
  <li><strong>Direction</strong>&mdash;in the previous example, relationships like "friend" and "coworker" are bidirectional, but "parent of" only goes one way <em>(unless, possibly, you're a character in a Robert A. Heinlein novel)</em>.</li>
</ul>

<div class="wp-caption">
  <img src="/assets/images2/social_network.jpg" class="no-shadow" />
  <br /><strong>A social network. Quick, someone give me $50 million in venture capital!</strong>
</div>

<p>In fact, that last point about directionality is so important that it deserves its own page.</p>
