---
title:  "Directed Versus Undirected Graphs"
layout: section
---

<div class="fl wp-caption pad-right">
  <img src="/assets/images2/undirected-graph.png" class="no-shadow" />
  <br /><strong>Undirected graph</strong>
  <br /><em>(no arrows)</em>
</div>

<p>One of the key distinctions people make between graphs is whether they are <strong>directed</strong> or <strong>undirected</strong>.  I'll admit, when I see the phrase "undirected graph," I sometimes get a mental image of a subway system map just sitting there aimlessly on the couch while its parents ask when it's going to take responsibility and <em>do something</em> with its life...</p>

<div class="fr wp-caption pad-left">
  <img src="/assets/images2/directed-graph.png" class="no-shadow" />
  <br /><strong>Directed graph</strong>
  <br /><em>(note the arrows)</em>
</div>

<p>...but that's just me.  Really, <strong>all we're saying is whether the edges in a graph are bidirectional or not.</strong></p>

<p>Most, but not all, graphs I've seen have only one kind of edge.  There are a few cases where you might want to use both&mdash;for example, a street map might have undirected edges for two-way streets and directed edges for one-way streets&mdash;but that's the only example I can think of off the top of my head.</p>
