---
title: "Places To Go, and Ways to Get There"
---

<p>Here are two versions of the Königsberg map.  On the left is a smaller version of the map you've already seen, and on the right is the version Euler used in his 1735 proof.</p>

<%= partial( 'sections/konigsberg-map-and-graph' ) %>

<p>Here's what I think is so mind-bendingly cool about this:  <strong>Euler threw away all the information that didn't matter to the problem.</strong>  </p>

<div class="fr pad-left"><img src="/assets/images2/whoa.png" class="no-shadow" /></div>

<p>If all you're concerned with is which bridges you cross, then for all intents and purposes, <strong>each land mass can be represented by a point</strong>, and <strong>each bridge is just a line between two points</strong>.</p>

<p>Which is why I say you can think of graph theory as the study of <strong>places to go, and ways to get there.</strong></p>

