---
title:      "Reachability"
created_at: 2011-09-19 23:56:35.454060 -07:00
layout:     section
---

<p><strong>You can think of this graph as a set of three parallel universes</strong> with time flowing from left to right, so that <strong>A</strong> is the beginning of recorded history.  <em>(The arrow represents the "follows" or "is subsequent to" relationship, so you might say that "B follows A".)</em></p>

<div class="fl wp-caption pad-right">
  <img src="/assets/images2/reachability-example.png" class="no-shadow" />
  <br />To see an ASCII version of this graph, type
  <br /><code class="inline">git rebase --help</code>
</div>

<p>If you start from <strong>E</strong>, the history you'll see is <strong>A,&nbsp;B,&nbsp;C,&nbsp;D,&nbsp;E</strong>.</p>

<p>If you start from <strong>H</strong>, the history you'll see is <strong>A,&nbsp;B,&nbsp;F,&nbsp;G,&nbsp;H</strong>.</p>

<p>If you start from <strong>K</strong>, the history you'll see is <strong>A,&nbsp;B,&nbsp;C,&nbsp;I,&nbsp;J,&nbsp;K</strong>.</p>

<p>But the really important thing about this is that no matter which node you start with, <strong>some parts of the graph will be unreachable to you.</strong></p>

<p>That sounds kind of pessimistic, so I'll turn it around:  <strong>Depending on where you start, you can reach parts of the graph that you couldn't get to otherwise.</strong></p>

<p>This may not sound like much, but stay with me for a little while longer&mdash;it's huge.</p>
