---
title: "Seven Bridges of Königsberg"
---

<p>Here's a drawing of the city of Königsberg, Prussia in the early 18th century.</p>

<div class="wp-caption">
  <img src="/assets/images2/bridges_of_konigsberg.jpg" class="no-shadow" />
  <br /><strong>A lovely place for a stroll...</strong>
</div>

<p>The city was set on both sides of the Pregel River <em>(shown in blue)</em>, and included two large islands which were connected to each other and the mainland by seven bridges <em>(shown in red)</em>.  Someone had posed the question of whether it was possible to walk through the city and <strong>cross every bridge exactly once</strong>.</p>

<p>In 1735, a mathematician named <a href="http://en.wikipedia.org/wiki/Leonhard_Euler">Leonhard Euler</a> proved that such a route could not exist.  In doing so, he basically invented a field of mathematics, which we now call graph theory.</p>

<p><em>("Euler" is pronounced more or less like "oiler", by the way.)</em></p>
