---
title: "Making Sense of the Display"
---

<p>Here's another look at that GitX screenshot, with a few annotations.</p>

<div class="wp-caption">
  <img src="/assets/images2/gitx-visualization-annotated.png" class="no-shadow" />
  <br /><strong>If you want a dummy repo to play around with, <a href="https://github.com/geeksam/do-re-mi">clone this one</a>.</strong>
</div>

<p>The important thing to know about this, though, isn't what you see here.  It's what you <strong>don't</strong> see.  Every Git tool I've ever seen shares one thing in common:  <strong>they hide commits from you</strong>.</p>

<p>Sounds like a conspiracy theory, right?  Not really.</p>
