---
title:  "Example 2: Git for Ages 4 and Up"
layout: section
---

<p>In his talk "Git for Ages 4 And Up" (OSDC, 2010), Michael Schwern uses Tinker Toys to teach the audience how Git works.</p>

<p>Check out the very first sentence in the session description <em>(emphasis added)</em>:</p>

<blockquote>
  <p><em><strong>Git makes so much more sense when you understand how it really works,</strong></em> because it's really a two trick pony.</p>

  <p>Tinker Toys are the best illustration of a Git repository I've found. Side-by-side with issuing Git commands, we'll build a Git repository out of kid's toys showing what's going on behind the scenes. Mind bending concepts like remote branching, rebase and the staging area become child's play.</p>

  <p>WARNING: CHOKING HAZARD - Small Parts. Not For Children Under 4 Years.</p>
</blockquote>
