---
title:  "Example 4: LSD and Chainsaws"
layout: section
---

<p>This one isn't strictly of the same pattern, but I think it still captures the overall theme that Git is powerful and strange, and must be meditated upon to achieve enlightenment:</p>

<blockquote>
  <p> And then there’s <code class="inline">git rebase --interactive</code>, which is a bit like <br /> <code class="inline">git commit --amend</code> hopped up on acid and holding a chainsaw–completely insane and quite dangerous but capable of exposing entirely new states of mind."</p>
</blockquote>

<p>-Ryan Tomayko, <a href="http://tomayko.com/writings/the-thing-about-git">The Thing About Git</a>, April 2008</p>
