---
title:      "Example 3: Homeomorphic Endofunctors"
created_at: 2011-09-18 14:04:55.726341 -07:00
layout:     section
---

<img src="/assets/images2/homeomorphic_endofunctors.jpg" class="no-shadow" />
<br>

<h3>Don't worry.  It's a joke.</h3>

<p>(At least, I'm pretty sure it's a joke.)</p>
