---
extension: css
filter:    erb
layout: none
---
<%
  @blue   = '#3F5C9A'
  @orange = '#D08125'
-%>
.post .entry-content li {
	text-indent: -1em;
}

#content p {
  font-size: 1.2em;
  line-height: 1.75em;
}

.linear_nav_links {
  margin-top: 1em;
  border-top: 1px solid <%= @blue %>;
  padding-top: 0.5em;
}

.prev {
  float: left;
}

.next {
  float: right;
}

li span.current-marker {
  font-weight: bold;
  color: <%= @orange %>;
}

code {
  font-weight: bold;
  background-color: #eee;
  padding: 2px 5px;
  border: 1px solid <%= @blue %>;
}

code.inline {
  display: inline !important;
  white-space: nowrap;
}

img.no-shadow {
  box-shadow: none;
}

.pad-left {
  margin-left: 15px;
}

.pad-right {
  margin-right: 15px;
}

caption {
  background-color: #eee !important;
}