---
title:      About the Author
created_at: 2011-09-05 15:22:33.595014 -07:00
layout:     section
---

<p>This site was created by Sam Livingston-Gray.  I'm a software developer in Portland, Oregon.  I can be reached at <a mailto="geeksam@gmail.com">geeksam@gmail.com</a>.</p>

<p>You'll find more information at <a href="http://resume.livingston-gray.com">my resume website</a>, and at <a href="http://github.com/geeksam/">GitHub</a>, <a href="http://www.linkedin.com/pub/sam-livingston-gray/1/568/504">LinkedIn</a>, and <a href="https://twitter.com/geeksam/">Twitter</a>.</p>
