---
title:      Who This Site Is For
created_at: 2011-08-31 01:25:35.303685 -07:00
layout:     section
---

<p>"Advanced beginners" with Git.  You should know how to create a repository, add and commit files to it, and you should probably have some idea of why you might want to use a branch.</p>

<p>If you're still struggling with what version control software is for, this site may not be that useful to you.  <strong>I encourage you to poke around,</strong> but if you're not getting much out of it, check out my <%= page_link 'resources', 'resources page' %> for some pointers, and consider coming back to this site later.</p>

<p>On the other hand, if you can already do a <code class="inline">git rebase --interactive</code> without breaking a sweat, you may not get that much out of the site.  (But I hope it gives you a framework for helping others learn!)  I encourage you to look over the <%= page_link('resources') %>, and suggest any other links you've found that have helped you get to where you are now.</p>
