---
title:  Why This Site?
layout: section
---

<p>I've been using Git since sometime in 2008.  I spent the first year or so flailing about and not really understanding what I was doing.  At some point, I realized something that helped me get a lot more comfortable using Git.  And, I started to formalize a pattern of interaction with Git that enabled me to increase my understanding and confidence in working with some of Git's more dangerous features.</p>

<p>I tried helping other people learn how to use Git, but I wasn't all that successful.  A friend of mine later told me that I'd told him something along the lines of "all Git commands are really just graph manipulation commands", but that didn't actually help him at all at the time.</p>

<p>So, in April 2011, I tried to put together what I knew into an hour-long talk.</p>

<p>This began life as a "Lunch and Learn" presentation to my coworkers.  Based on the positive feedback I got from that, I then gave the talk again at Portland BarCamp 2011 and Cascadia RubyConf 2011.</p>

<p><em>(There's video of the Cascadia RubyConf talk on <a href="http://confreaks.net/videos/612-cascadiaruby2011-think-like-a-git">Confreaks</a>, but it's not very good&mdash;it was my first conference talk, and I delivered it with literally three minutes' warning.)</em></p>

<p>Based on encouraging feedback from both of those talks, I wanted to turn the talk into a series of screencasts... but I thought writing it out would actually be a bit easier, and might be more accessible.  (I like screencasts for some things, but I also find it hard to set time aside to watch them.)  And here we are:  as of June 2016, this site has had almost 400,000 unique visitors&mdash;which is approximately 399,990 more than I ever expected!</p>
