---
extension: html
filter:    erb
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">

	<!-- Meta & Title -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="author" content="Sam Livingston-Gray" />
  <title><%= [@page.title, ::SiteTitle].join(' // ') %></title>

	<!-- CSS -->
	<link type="text/css" rel="stylesheet" href="/assets/css/style.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="/assets/css/customizations.css" media="screen" />

	<!-- Hooks -->
	<link rel="index" title="Vectors" href="#" />

	<!-- Javascript -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.tools.min.js"></script>
	<script type="text/javascript" src="/assets/js/superfish.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.tipTip.min.js"></script>
	<script type="text/javascript" src="/assets/js/custom.js"></script>

</head>

<body>
	<div id="header">
		<div class="wrapper">

			<!-- Image Based Logo -->
      <!-- <h1><a href="index.html"><img src="/assets/images/logo.png" alt="Think Like (a) Git" /></a></h1> -->

      <!-- Static Logo (Optional) -->
      <h1 class="title"><a href="/">Think Like (a) Git</a></h1>
      <h3 class="subtitle">A Guide for the Perplexed</h3>

		</div><!--#wrapper-->
	</div><!--#header-->

	<div id="nav-top">
		<div class="wrapper">

			<!-- Top Navigation Menu -->
			<ul class="menu-nav-top">
			  <li><a href='/'>Home</a></li>
			  <li><%= page_link('tldr', 'TL;DR') %></li>
			  <li><%= section_link('about-this-site', 'Start Reading') %></li>
			  <li><%= page_link('epic', 'EPIC MODE') %></li>
			  <li><%= page_link('reading-list') %></li>
		    <li><a>Meta</a>
  			  <ul>
    			  <li><%= page_link('changelog') %></li>
    			  <li><%= page_link('todo') %></li>
  			  </ul>
		    </li>
			</ul>

			<!-- Top Social Links -->
      <ul class="social-links">
        <li><%= section_link('about-the-author', '?', :title => 'About the Author', :class => 'w-tooltip') %></li>
        <li><a href="mailto:geeksam@gmail.com" title="Email" class="w-tooltip"><img src="/assets/images/icon_email.png" alt="Email" /></a></li>
        <li><a href="http://twitter.com/geeksam" title="Twitter" class="w-tooltip"><img src="/assets/images/icon_twitter.png" alt="Twitter" /></a></li>
      </ul>

		</div><!--#wrapper-->
	</div><!--#nav-top-->


<% if false %>
	<!-- Main Navigation Menu -->
  <div id="main-menu">
    <div class="wrapper">
      <ul>
        <li><a href="#">foo</a></li>
        <li><a href="#">Coding</a>
          <ul>
            <li><a href="#">Brushes</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
<% end %>

	<div class="wrapper">
		<div id="content" class="grid12 last">

      <div class="post page-content">
        <div class="entry-content">
          <!-- Primary content -->
					<div class="two_third">
            <%= @content %>
					</div>

          <!-- Sidebar with site map -->
          <div class="one_third last">
            <%= nav_list.to_html %>
					</div>
        </div>
      </div>
		</div><!--#content-->

		<%= clearer %>
	</div><!--wrapper-->

	<div id="footer" class="container">
		<div class="wrapper">
      <% if false %>
  			<!-- Footer Menu -->
        <ul id="menu-footer-menu" class="fl">
          <li><a href="#">Foo</a></li>
        </ul>
        <%= clearer %>
      <% end %>

			<!-- Footer Copyright -->
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png" /></a><br />
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Think Like (a) Git</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://think-like-a-git.net" property="cc:attributionName" rel="cc:attributionURL">Sam Livingston-Gray</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
      </p>
      <p><br />Original template &copy; 2011 <span>&middot;</span> Vectors Community Theme <span>&middot;</span> All Rights Reserved</p>
			<%= clearer %>

		</div><!--wrapper-->
	</div><!--footer-->

</body>
</html>
