<div class="fl wp-caption">
  <img src="/assets/images2/bridges_of_konigsberg-cropped.jpg" class="no-shadow" />
  <br /><strong>Traditional map</strong>
</div>
<div class="fl wp-caption pad-left">
  <img src="/assets/images2/konigsberg-graph-unlabeled.png" class="no-shadow" />
  <br /><strong>Euler's version</strong>
</div>
<%= clearer %>
