---
title:      About This Site
created_at: 2011-09-05 15:37:56.742043 -07:00
layout:     section
---

<p>This site is organized in a fairly linear fashion<s>, with two variants</s>.</p>

<p>In <%= section_link('about-this-site', 'AD/HD mode') %>, each section will have links at the bottom to the previous and next section, so you can read through the site from beginning to end.  If you find that you're already familiar with some of the concepts in a given section, you can use the sidebar navigation to skip to specific pages.</p>

<p><em><strong>Keyboard junkies, you can also navigate between sections using the "N" and "P" keys, for (N)ext and (P)revious.  You can also use "J" and "K" (which probably only makes sense to vim users... but I can only do so much).</strong></em></p>

<p>In <%= page_link('epic', 'EPIC MODE') %>, you get the whole enchilada on one page, and the sidebar navigation will jump you to headings within the page.  <strong><em>(At least, you will once I figure out how to get <a href="https://middlemanapp.com/">Middleman</a> to render all the individual sections in a loop...)</em></strong></p>
