---
title:      About This Site
---

<p>This site is organized in a fairly linear fashion<s>, with two variants</s>.</p>

<p>Each page has links at the bottom to the previous and next section, so you can read through the site from beginning to end.  If you find that you're already familiar with some of the concepts in a given section, you can use the sidebar navigation to skip to specific pages.</p>

<p><em><strong>Keyboard junkies, you can also navigate between sections using the "N" and "P" keys, for (N)ext and (P)revious.  Vim users may be pleased to know that "J" and "K" also work as they expect.</strong></em></p>

<p>(I used to have an "EPIC MODE" page that put almost all the content on one big long page, but I haven't been able to figure out how to replicate this using <a href="https://middlemanapp.com/">Middleman</a>.  Feel free to contact me if you know how to do this.)</p>
