---
title:      "Experimenting With Git"
created_at: 2011-09-24 07:18:47.727253 -07:00
layout:     section
---

<p>I said something really important on the previous page.  It's so important I'll repeat it.</p>

<p>In describing Git's garbage collection algorithm, I said, <strong>"Starting from every branch and every tag</strong>, Git walks back through the graph, building a list of every commit it can reach."  <em>(Emphasis added.)</em></p>

<p>Everything I've written up to this point has been to provide the background for you to <strong>understand this one thing.</strong>  If I had ten seconds to tell you The Secret Of Git&mdash;<em>the entire point of this site</em>&mdash;I can fit it into these four words:</p>

<h3>References make commits reachable.</h3>

