---
title:      "Graph Theory"
created_at: 2011-09-18 14:43:43.310050 -07:00
layout:     section
---

<p><strong>[If you're already comfortable with graph theory, skip ahead to <%= section_link('Reachability') %>.]</strong></p>

<p>For a rather math-intensive introduction to graph theory, <a href="http://en.wikipedia.org/wiki/Graph_theory">see Wikipedia</a>.  Here's a very short version of the definition they use there:</p>

<blockquote>
  <p>A graph refers to a collection of nodes and a collection of edges that connect pairs of nodes.</p>
</blockquote>

<p>Graph theory can be used to describe a lot of things, but I'll start off with one of the most straightforward examples:  maps.  You can think of graph theory as a way of encoding information about two aspects of a map:  <strong>places to go, and ways to get there.</strong></p>

<p>Let's start at the very beginning, shall we?</p>

<p><em>[By the way:  as important human inventions go, I happen to think graph theory is right up there alongside bacon and indoor plumbing.  It takes some time to really sink in, though, so <strong>if you find your eyes glazing over in this section, don't worry about it</strong>.  As long as the page about <%= section_link('reachability') %> makes sense to you, you can come back and reread these pages later.]</em></p>
