---
title:  "The End"
layout: section
---

<blockquote style="font-size: 1.1em; line-height: 1.2em;">Where do we go from here?<br />
Where do we go from here?<br />
The battle's done, and we kind of won<br />
So we sound our victory cheer<br />
Where do we go from here?<br /><br />
<strong>&ndash;Buffy the Vampire Slayer, "Once More, With Feeling"</strong>
</blockquote>

<p>Technically, this isn't the end&mdash;this is just all I've written so far.  I hope you've enjoyed reading this, and I really hope I've been able to help you learn something.</p>

<p><strong>I welcome your feedback!</strong>  Feel free to drop me an <a href="mailto:geeksam@gmail.com">email</a> or a <a href="https://twitter.com/#!/geeksam">tweet</a> and let me know what you think.</p>

<p>
  Happy hacking!<br />
  -Sam
</p>
