---
title:  "References Make Commits Reachable"
layout: section
---

<p>Let's unpack that sentence.</p>

<h3>References...</h3>

<p>...whether they are local branches, remote branches, or tags <em>(see <%= section_link('the-reference-reference', 'here') %>)</em>...</p>

<h3>...make commits...</h3>

<p>...which are nodes in a graph <em>(see <%= section_link('graphs-and-git', 'here') %>)</em>...</p>

<h3>...reachable.</h3>

<p>...so that you can get back to them <em>(see <%= section_link('reachability', 'here') %>)</em>, and Git won't delete them when it decides it's time for spring cleaning <em>(see <%= section_link('garbage-collection', 'here') %>)</em>.</p>

<p>It took me a really long time to piece this together for myself.  I'm writing this site so that you don't have to waste the time I did.</p>
