---
title: Changelog
---

<ul>
  <li><strong>2017-12-09</strong>: Finally finished porting to Middleman (leaving "EPIC MODE" unimplemented for now).</li>
  <li><strong>2012-05-04</strong>: Source for site now on GitHub.</li>
  <li><strong>2011-12-12</strong>: Added J and K as next/prev nav keys (suggestion from @adunkman).</li>
  <li><strong>2011-11-21</strong>: Add one-page HALP! resource for people who've just lost work.</li>
  <li><strong>2011-11-20</strong>: Add Google Analytics, so I can see what you people are up to! Update resources page with commentary on GitX forks and link to "the illustrated guide to recovering lost commits with Git".</li>
  <li><strong>2011-11-17</strong>: Immortalize hilarious tweet with new The Internet Talks Back section.</li>
  <li><strong>2011-11-08</strong>: Add link to writeup of my dev team's workflow to resource page as well as rebase intro.</li>
  <li><strong>2011-10-31</strong>: Add resource links to GitX (L) and Tig.</li>
  <li><strong>2011-10-29</strong>: Can now navigate between sections using (N)ext and (P)revious keyboard shortcuts. Added commentary about Kent Beck's tweet.</li>
  <li><strong>2011-10-28</strong>: Added <link rel="next" /> (suggestion from @mcepl)</li>
  <li><strong>2011-10-28</strong>: Fix nav links in epic mode.</li>
  <li><strong>2011-10-28</strong>: Add Git Immersion to resources page. (Thanks, Matt!)</li>
  <li><strong>2011-10-26</strong>: Updated Visualizing Your Git Repository based on Twitter feedback.</li>
  <li><strong>2011-10-26</strong>: Ship Launch it!</li>
  <li><strong>2011-10-25</strong>: Link up AD/HD and epic modes in intro section, tweak resources.</li>
  <li><strong>2011-10-20</strong>: Finished up section on rebase.</li>
  <li><strong>2011-10-01</strong>: Cleaned up header formatting, added Epic Mode, minor edits, added the end.</li>
  <li><strong>2011-09-28</strong>: Linked up the reading list.</li>
  <li><strong>2011-09-28</strong>: Added a few todo items.</li>
  <li><strong>2011-09-28</strong>: Just about ready to launch. Added CC license, fixed top nav, added content, moderate edits.</li>
</ul>
