---
title:          Epic Mode
epic:           true
created_at:     2011-10-01 21:14:16.393629 -07:00
nav_list_links: "#%s"
---

<%
=begin

  This is supposed to loop through the list of sections, rendering each
  one inline...

=end
%>

Sorry, but EPIC MODE is currently broken until I can figure out how to
get <a href="https://middlemanapp.com/">Middleman</a> to do what I want
it to do.  If you happen to know Middleman and feel like contributing,
pull requests are accepted.  Otherwise, this will wait until I get back
to it...
