---
title: Home
created_at:  2011-08-29 8:45 PM
---

<h1>Git shouldn't be so hard to learn.</h1>

<p>When you're just getting started, something as straightforward as a merge can be terrifying. It can take a long time to really become comfortable using some of Git's more advanced features.  <em>(It took me a year or two.)</em></p>

<p>Once people achieve some level of <strong>Git enlightenment,</strong> they tend to make statements of the form 'Git gets a lot easier once you realize X' -- but that doesn't do much for people staring up Git's steep learning curve.</p>

<p>My goal with this site is to help you, Dear Reader, <strong>understand what those smug bastards are talking about</strong>.</p>

<p><%#= page_link('about-this-site', "Let's get started, shall we?") %></p>
